<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>What's the weather like?</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.6.2/css/bulma.css" />
</head>
<body>
    <section class="hero is-primary">
        <div style="margin: -17px auto;padding: 33px;" class="hero-body">
            <div class="container">
                <h1 style="margin-bottom: 0.5rem" class="title">
                    What's the weather like?
                </h1>
		<br>

		<div style="margin:0;padding:0;"><a href="/">back</a></div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-5">
                    <form action="/index" method="POST">
                        {% csrf_token %}
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" type="text" name="city"
                               placeholder="City Name">
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-5">
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ city }}</span>
                                        <br>
                                        <span class="subtitle">{{ temperature }}° C</span>
                                        <br>
                                        <span>max: {{ max }}° C </span>
                                        ,
                                        <span>min: {{ min }}° C</span><br>
                                        <span>Humidity: {{ temperature }} %</span>
                                        ,
                                        <span>Speed: {{ speed }} km/h</span>
                                        <br> {{ description }}
                                    </p>
                                </div>
                            </div>
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer">
    </footer>
</body>
</html>