<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="teal">
    <center>
        <font face='lucida console' size=4>
            <br><br><h2>Sign-in</h2><br><br><br><br>
            <table>
                <form action='' method="post">
                {% csrf_token %}
                    <tr>
                        <td>USERID </td>
                        <td><input type="text" name="logid"></td>
                    </tr>
                    <tr>
                        <td>password </td>
                        <td><input type="password" name="password"></td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td><input type="submit" name="login"></td>
                    </tr>
                </form>
       <br>
 <form action='/signup' method="post">
 {% csrf_token %}
 <tr>
      <td> </td>
      <td>dont have loginid</td>
  </tr>
  <tr>
      <td> </td>
      <td><input type="submit" name="sign_up" value=signup></td>
  </tr>
 </form>
            </table>

        </font>
    </center> 
    
</body>
</html>