<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head> 
<body bgcolor="teal">
    <center>
        <font face='lucida console' size=4>
            <br><br><h2>Sign-up</h2><br><br><br><br>
            <table>
                <form action='/signup' method="post">
                {% csrf_token %}
                    <tr>
                        <td>Logid </td>
                        <td><input type="text" name="logid"></td>
                    </tr>
                    <tr>
                        <td>Password </td>
                        <td><input type="password" name="password"></td>
                    </tr>
                    <tr>
                        <td>Name </td>
                        <td><input type="name" name="name"></td>
                    </tr>
                    <tr>
                        <td>Branch </td>
                        <td><input type="text" name="brn"></td>
                    </tr>
                    <tr>
                        <td>Sem </td>
                        <td><input type="text" name="sem"></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="submit" name="signup"></td>
                    </tr>
                </form>
            </table>

        </font>
    </center> 
    
</body>
</html>